<!--
    Author:Bunchhieng Soth,
    bsoth@cs.uml.edu

    Created on:11/01/2014 Main page for sosuml.org
-->
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

 html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* Brand logo */

.navbar-brand {
    margin: 0;
    padding: 0;
}
[alt="brand"] {
    margin: -15px;
    margin-left: 20px;
    height: 90px;
    width: 250px;
}
/* Social logo on navbar */

.social-logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
#social-logo {
    padding-right: 45px;
}
#social-logo > li > a >[alt="link"] {
    height: 30px;
    width: 30px;
    margin-top: 2px;
}
#social-logo > li > a {
    float: right;
    padding: 0;
    margin-top: 10px;
}
/* Modify navbar fonts */

.container > nav {
    text-align: center;
    height: 65px;
}
#navbar {
    position: fixed;
    font-size: 18px;
    display: inline;
}
/* Twitter timeline */

.twitter-timeline {
    height: 420px;
}
/*Sponsor logo */

[alt="Generic placeholder image"] {
    padding: 20px;
    height: 150px;
    width: 240px;
}
/* Calendar in calendar.html */

.content {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}
iframe {
    margin: 0 auto;
}
/* Our team images */

.img-circle {
    width: 250px;
    height: 250px;
}
hr #ourteam {
    width: 50px;
    border: 1px solid;
}
.position {
    color: #0FB7EC;
}
/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Dynamic content */

#dynamic-content {
    margin-top: -20px;
}
/* Footer */

#wrapper {
    position: relative;
    min-height: 100%;
    margin-top: 0;
}
#footer {
    position: absolute;
    top: 100%;
    bottom: 0;
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
}
/* Forms */

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
/* Error message */
.errorForm {
  text-align: center;
  color: #FF0000;
}

.thankYou {
  font-size: 20px;
  color: blue;
  text-align: center;
}
