/*
  File: css/style.css
  Main style sheet
  Created on: 11/20/2014
  */

body {
  background: #e7e7e7;
}
#wrapper {
  margin: 0;
  padding: 0;
}
#content {
  margin: 0 auto;
  width: 30%;
  color: blue;
  margin-top: 300px;
  font-family: monospace;
}
article {
  text-align: center;
  font-size: 15px;
}
/* CodeMirror Modified */

.CodeMirror {
  font-family: monospace;
  border: 1px solid #eee;
  height: auto;
  font-size: 1.3em;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
